.header{
    background-color:#FAFAFA;

    font-size: 38pt;
    border-color: #D2D2D2;
    border-style: solid;
    border-width: 3px 3px 6px ;
    margin:auto;
    padding:20px;
    margin-bottom:30px;
    width: 85%;
    min-width: 600px;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: grid;
    border-radius: 10px;

    grid-template-areas:
    'none toolbar'
    'birichko title'
    'counter description';
    grid-template-columns: 180px auto;
}
#forum-title{
    color: rgb(159, 85, 14);
    font-family: "Romantiques" !important;
    margin:auto;
    padding:auto;
    line-height: 50px;
    grid-area:title;
}
#forum-description{
    font-size: 18pt;
    text-align: center;
    margin:auto;
    padding:auto;
    grid-area:description;
}
#counter{
    padding:auto;
    margin:auto;
    grid-area:counter;
}
.example-spacer {
    flex: 1 1 auto;
  }
.toolbar{
    margin-bottom: 10px;
    grid-area:toolbar;
}

#birichko{
    grid-area:birichko
}

