.header{
    background-color:#FAFAFA;
    text-align: center;
    font-size: 38pt;
    border-color: #D2D2D2;
    border-style: solid;
    border-width: 3px 3px 6px ;
    grid-template-columns: auto;
    width: 85%;
    min-width: 600px;
    margin:auto;
    padding:20px;
    margin-bottom:20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 180px auto;
    border-radius: 10px;
}
#forum-title{
    color:#a7cf39;
    margin:auto;
    padding:auto;
}
#forum-description{
    font-size: 18pt;
    text-align: center;
    margin:auto;
    padding:auto;
}
#counter{
    padding:auto;
    margin:auto;
}
.example-spacer {
    flex: 1 1 auto;
  }


