#button-container{
    color:#FAFAFA;
    background-color:#a7cf39;
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto;
    border-style:solid;
    border-width: 1px;
    border-radius: 10px;
    width:85%;
    height: 20%;
    margin-right:30px;
    font-size:10pt;
    float:right;
}
button{
    margin-right: 10px;
    margin-left: 10px;
}