<div class = "admin-controls">
    <div>
        <mat-slide-toggle color=warn class = "btn-slide" [checked]="user.isBlocked" (toggleChange)="onToggleUserBlocking()"></mat-slide-toggle>
        <span>{{ user.isBlocked ? 'Unblock' : 'Block' }}</span>
    </div>
    <div>
        <mat-slide-toggle color=warn class = "btn-slide" [checked]="user.isAdmin" (toggleChange)="onToggleUserAdmin()"></mat-slide-toggle>
        <span>{{ user.isAdmin ? 'Demote to User' : 'Promote to Admin' }}</span>
    </div>
</div>
