<mat-grid-list class="search-panel" cols="1" rowHeight="50px">

  <form [formGroup]="queryForm" (ngSubmit)="getPosts()">

    <mat-grid-tile>
      <mat-form-field appearance="fill" class = "custom-text-field">
        <mat-label for="keyword">Keyword</mat-label>
        <input matInput id="keyword" type="text" formControlName="keyword">
      </mat-form-field>
    </mat-grid-tile>
    

    <mat-grid-tile>
      <button mat-raised-button type="submit" color="basic" [disabled]="!queryForm.valid">Search posts</button>
    </mat-grid-tile>
    
  </form>

</mat-grid-list>

<div class = post-container>
  <mat-card>
    <mat-card-content>
      <div>
        <mat-toolbar color="basic" class="toolbar">
          <mat-toolbar-row>
              <div class="toolbar-inside">
                <div>
                  <button mat-raised-button [routerLink]="['/posts/create']" color="primary">Create a new post</button>
                </div>
              </div>
              
          </mat-toolbar-row>
        </mat-toolbar>
      </div>



      <div *ngIf="postList&&postList.length===0">
        There are no posts or beers that match the criteria... maybe you should create one first?
      </div>

      <div *ngFor="let post of postList| 
      slice: lowValue : highValue">
        <app-post-thumbnail [post]="post"></app-post-thumbnail>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-paginator *ngIf="postList" class = "paginator" [length]="postList.length
  " [pageSize]="pageSize"  
     (page)="pageEvent = getPaginatorData($event)">
  </mat-paginator> 
</div>