<div class="post-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-subtitle (click)="clickProfile()" class="clickable">By: {{post.userName}}</mat-card-subtitle>
            <img mat-card-avatar [src]="avatarImage" alt="image" (click)="clickProfile()">
        </mat-card-header>
        <mat-card-content>
            <p>
                {{post.content}}
            </p>
            <p class="post-like-dislike" > likes: {{post.postLikes}} dislikes: {{post.postDislikes}}</p>
        </mat-card-content>
    <mat-card-footer>
        <app-rate></app-rate>
    </mat-card-footer>
    </mat-card>
</div>
