<div class="container-main" *ngIf="post">
    <app-post [post]="post" [avatarImage]="avatarImage" (likeChangeEvent)="onLikeChange($event)"></app-post>
    <ng-container *ngIf="post.comments">
        <h3>POST COMMENTS:</h3>
        
                <div *ngFor="let comment of post.comments">
                    <app-comment 
                        [comment]="comment" 
                        [avatarImage]="imageService.getImageFromByteArray(comment.user.avatarImage, comment.user.imageType)">
                    </app-comment>
                </div>

                <app-add-comment [postId]="post.id"></app-add-comment>
                
    </ng-container>
</div>