#birichko {
    width:180px;
    height:200px;
    position: relative;
}

#eyes img {
    place-items:center;
    position: relative;
}
#lefteye{
    top: -132px;
    left:-121px;
}
#righteye{
    top:-132px;
    left:-107px;
}