<mat-card>
    <mat-card-header>
        <img matCardAvatar [src]="imageService.getImageFromByteArray(post.avatarImage, post.imageType)" (click) = "clickProfile()"/>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle (click) = "clickProfile()" class="clickable">By: {{post.userName}}</mat-card-subtitle>

        <mat-card-subtitle>Posted On: {{post.createdOn.substring(0,10)}}</mat-card-subtitle>
        <div class="end-button">
            <button mat-button (click)="onClick()">VIEW POST</button>
        </div>
    </mat-card-header>
</mat-card>