.container{
    min-width: 200px;
    margin-left: 7vmax;
    margin-right: 7vmax;
    margin-bottom: 5px;
    box-shadow: 4px 4px 2px lightgrey !important;
}
.flexbox{
    display: flex;
}
mat-card-content{
    margin: 5px 5px 5px 5px;
}
p{
    font-size: medium;
}
mat-card-actions{
    width: inherit;
    align-items: flex-end;
    width: 60%;
    margin-left:50%;
}
mat-card-footer{
    width: inherit;
}