<div class="container">
    <mat-card class="profile-card" >
        <mat-card-header>    
            <img mat-card-avatar src="assets/images/user_Image.jpg">
            <mat-card-title >{{user.username}}</mat-card-title>
            <mat-card-subtitle>Role: {{user.isAdmin ? "Admin" : "User"}}</mat-card-subtitle>
        </mat-card-header>
    
        <div class="flexbox">
            <img mat-card-lg-image src="assets/images/user_Image.jpg">
            <mat-card-content>
                <p>First Name: {{user.firstName}}</p>
                <p>Last Name: {{user.lastName}}</p>
                <p>Posts: {{user.posts.length}}</p>
                <p>Comments: {{user.comments.length}}</p>
            </mat-card-content>
        </div>
        <mat-card-footer>
            <mat-card-actions>
                <button mat-button>EDIT PROFILE</button>
            </mat-card-actions>
        </mat-card-footer>
        
    </mat-card>
    </div>
    
