<mat-grid-list class="post-panel" cols="1" rowHeight="fit">

    <form [formGroup]="postEditForm" (ngSubmit)="submit()">
  
      <mat-grid-tile>
        <mat-form-field appearance="fill" class = "custom-title-field">
          <mat-label for="title">Title</mat-label>
          <input matInput id="title" type="text" formControlName="title" [(ngModel)] = "postTitle">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill" class = "custom-content-field">
          <mat-label for="content">Content</mat-label>
          <textarea matInput id="content" type="text" formControlName="content" [(ngModel)] = "postContent"> </textarea>
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <button class = "submit" mat-raised-button type="submit" color="basic" [disabled]="!postEditForm.valid">Submit</button>
      </mat-grid-tile>
      
    </form>
  
  </mat-grid-list>