<div class="container">
    <mat-card class="profile-card" >
        <mat-card-header>    
            <img mat-card-avatar [src]="imageService.getImageFromByteArray(user.avatarImage, user.imageType)">
            <mat-card-title >{{user.username}}</mat-card-title>
            <mat-card-subtitle>Role: {{user.isAdmin ? "Admin" : "User"}}</mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button class="img-edit-btn" (click)="changeAvatarDialog()"> Change Picture </button>
                <button mat-raised-button class="first-name-edit-btn" (click)="changeFirstNameDialog(user.firstName)"> Change first name </button>
                <button mat-raised-button class="last-name-edit-btn" (click)="changeLastNameDialog(user.lastName)"> Change last name </button>
                <button mat-raised-button class="pass-edit-btn" (click)="changePassDialog()"> Change Password </button>
                <button mat-raised-button class="phone-edit-btn" (click)="changePhoneDialog()" [disabled]="!user.isAdmin"> Change Phone Number </button>
                <button mat-raised-button class="save-changes-btn" (click)="onSaveChanges()"> Save changes </button>
            </mat-card-actions>
        </mat-card-header>
    
        <div class="contents">
            <img mat-card-lg-image class="large-image"  *ngIf="url === undefined" [src]="imageService.getImageFromByteArray(this.user.avatarImage, this.user.imageType)">
            <img mat-card-lg-image class="large-image" *ngIf="url !== undefined" [src]="url">
            <div class="first-name">
                First Name: {{user.firstName}}
            </div>
            <div class="Last-name">
                Last Name: {{user.lastName}}
            </div>
            <div class="Last-name">
                E-mail: {{user.email}}
            </div>
            <div class="Last-name">
                Phone: {{user.phoneNumber}}
            </div>
        </div>
    </mat-card>
</div>