<app-header></app-header>

<h2 class="center">{{username}} - {{role}}</h2>
<div class="container">
    <img src="assets/images/user_Image.jpg" alt="user_Image">
    <div class="stats">
    <p>First name: {{firstName}}</p>
    <p>Last name: {{lastName}}</p>
    <p>Posts: {{postCount}}</p>
    <p>Joined: {{joinDate}}</p>
    </div>
</div>
<h2>Posts by {{username}}</h2>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>
<app-post ></app-post>

