<div><app-header></app-header></div>

<div class="home-posts-grid">
  <div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
<div><app-post-page></app-post-page></div>
</div>