<div class = "admin-search">
    <span>    
        <mat-form-field>
            <mat-label>Search by</mat-label>
            <mat-select [(ngModel)]='ngSelect' (selectionChange)="onSelect($event)">  
                <mat-option value="firstName"> first name </mat-option>  
                <mat-option value="userName"> user name </mat-option>
                <mat-option value="email"> e-mail </mat-option>   
            </mat-select>
        </mat-form-field>
    </span>
    <span>
        <mat-form-field>
            <div class="search-bar">
                <input matNativeControl [(ngModel)]="searchParam">
            </div>
        </mat-form-field>
    </span>
    <span>
        <button mat-button [disabled]="(searchParam === null || searchParam === '')" (click)="onSearchClick($event)">search</button>
    </span>
    <span>
        <button mat-button  (click)="onShowAllClick($event)">show all users</button>
    </span>
</div>
