<mat-grid-list class="register-panel" cols="1" rowHeight="50px">

<mat-grid-tile>
  Welcome to Beer2Beer
</mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill" class = "custom-text-field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="mail@example.com"  required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-form-field appearance="fill" class = "custom-text-field">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <button mat-raised-button color="basic">Register</button>
  </mat-grid-tile>

</mat-grid-list>

